/* Anil's custom CSS */

/* raleway-regular - latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('../fonts/raleway-v12-latin/raleway-v12-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/raleway-v12-latin/raleway-v12-latin-regular.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url('../fonts/raleway-v12-latin/raleway-v12-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/raleway-v12-latin/raleway-v12-latin-700.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-800 - latin */

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 800;
  src: local('Raleway ExtraBold'), local('Raleway-ExtraBold'), url('../fonts/raleway-v12-latin/raleway-v12-latin-800.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
  url('../fonts/raleway-v12-latin/raleway-v12-latin-800.woff') format('woff');
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  font-family: Raleway !important;
}

h1 {
  margin-right: 10rem;
  margin-bottom: 5rem;
  margin-left: 10rem;
  font-family: Raleway;
  font-size: 4.875rem;
  font-weight: 700;
  line-height: 4rem;
}

h2 {
  margin-right: 10rem;
  margin-bottom: 2.25rem;
  margin-left: 10rem;
  font-family: Raleway;
  font-size: 2.5rem;
  font-weight: 700;
  font-style: normal;
  line-height: 2rem;
}

h3 {
  margin-right: 10rem;
  margin-bottom: 2.25rem;
  margin-left: 10rem;
  font-family: Raleway;
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 2.25rem;
}

h5 {
  margin-top: 2.25rem;
  margin-right: 10rem;
  margin-bottom: 0;
  margin-left: 10rem;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.25rem;
}

p {
  margin-top: 2.25rem;
  margin-right: 10rem;
  margin-bottom: 2.25rem;
  margin-left: 10rem;
  font-family: Raleway;
  font-size: 1.500rem;
  line-height: 2rem;
}

li {
  margin-right: 10rem;
  margin-left: 10rem;
  font-family: Raleway;
  font-size: 1.500rem;
  line-height: 2rem;
}

blockquote {
  font-family: Raleway;
  font-size: 21px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 30px;
}

pre {
  font-family: Raleway;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  line-height: 18.5714px;
}

a {
  text-decoration: underline;
}

a:hover,
a:focus {
  transition: all .1s ease-in-out;
  text-decoration: none;
  color: #2962FF;
  font-weight: 700;
}

.portrait {
  max-width: 300px;
  height: auto;
}

.landscape {
  max-width: 500px;
  height: auto;
}

.row-margin {
  margin-right: 10rem;
  margin-left: 10rem;
}

.center {
  text-align: center;
}

.center-object {
  display: block;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.v-allign {
  vertical-align: center;
}

.w-100 {
  width: 100%;
  height: auto;
}

.w-50 {
  width: 50%;
  height: auto;
}

.w-25 {
  width: 25%;
  height: auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.case-block {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.dark {
  color: #F3F5F6;
  background-color: #1A1E23;
}

.mid {
  background-color: #F4F6F7;
}

.accent {
  background-color: #2962FF;
}

.accent h3,
.accent p {
  color: white;
}

.pic-margin {
  margin-right: 10rem;
  margin-left: 10rem;
}

.w3-col p {
  margin-top: 2.25rem;
  margin-right: 2rem;
  margin-bottom: 2.25rem;
  margin-left: 2rem;
  color: #93a4aa;
  font-family: Raleway;
  font-size: 1.25rem;
  line-height: 1.75rem;
}

.w3-col h3 {
  margin-right: 2rem;
  margin-bottom: 0rem;
  margin-left: 2rem;
  font-family: Raleway;
  font-size: 2.125rem;
  font-weight: 800;
  line-height: 2.25rem;
}

.w3-col h5 {
  margin-top: 0rem;
  margin-right: 2rem;
  margin-bottom: 0;
  margin-left: 2rem;
  font-family: Raleway;
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.25rem;
}

.icon-size {
  width: 35px;
  height: 35px;
}

.typed-padding {
  display: inline;
  padding-left: 1rem;
}

.btn-primary,
.btn-primary:focus {
  margin-left: 2rem;
  padding-top: .5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  transition: all .2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  color: #1A1E23;
  border: .1rem;
  border-style: solid;
  border-color: #2962FF;
  border-radius: 2rem;
  background-color: transparent;
  font-weight: 700;
}

.btn-primary:hover {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: white;
  border-color: #2962FF;
  background-color: #2962FF;
}

.btn-secondary,
.btn-secondary:focus {
  margin-left: 1.5rem;
  padding-top: .5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;
  transition: all .2s ease-in-out;
  text-decoration: none;
  text-transform: uppercase;
  color: #1A1E23;
  border: .1rem;
  border-style: solid;
  border-color: #1A1E23;
  border-radius: 2rem;
  background-color: transparent;
  font-weight: 700;
}

.btn-secondary:hover {
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: #2962FF;
  border-color: #1A1E23;
  background-color: #1A1E23;
}

.btn-round {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: .75rem;
  padding-right: 1rem;
  padding-bottom: .75rem;
  padding-left: 1rem;
  transition: all .2s ease-in-out;
  text-decoration: none;
  border: .1rem;
  border-style: solid;
  border-color: #424242;
  border-radius: 50%;
  background-color: transparent;
}

.btn-round:hover {
  margin-right: 1rem;
  margin-left: 1rem;
  padding-top: 1.25rem;
  padding-right: 1.5rem;
  padding-bottom: 1.25rem;
  padding-left: 1.5rem;
  transition: all .2s ease-in-out;
  text-decoration: none;
  color: #1A1E23;
  border: .1rem;
  border-style: solid;
  border-color: white;
  border-radius: 50%;
  background-color: white;
}

.typed-cursor {
  animation: blink .75s infinite;
  opacity: 1;
  color: #2962FF;
  font-size: 4.875rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

#title h1 {
  margin-right: 0rem;
  margin-bottom: 1rem;
  margin-left: 0rem;
  text-align: center;
}

#about {
  padding-bottom: 4rem;
}

#about h3 {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
}

#about p {
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  -o-animation-duration: 8s;
}

video {
  display: block;
  width: 80% !important;
  height: auto !important;
  margin-right: auto;
  margin-left: auto;
}

#navbar ul {
  overflow: hidden;
  margin-top: 3rem;
  margin-right: 2rem;
  list-style-type: none;
}

#navbar p {
  margin-top: 3rem;
  margin-right: 0rem;
  margin-bottom: 0rem;
  margin-left: 0rem;
}

#navbar ul li {
  float: right;
  margin-right: 1rem;
  margin-left: 1rem;
  font-weight: 700;
}

#navbar ul li a {
  display: block;
  text-align: center;
  text-decoration: none;
}

.case-block-small {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

#logo-card p {
  margin: 0px;
}

#logo-creation h2 {
  margin-bottom: 3rem;
}

#personas h2 {
  margin-bottom: 3rem;
}

#storyboards h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#interactive-proto h2 {
  margin-bottom: 3rem;
}

#interested p {
  line-height: 1.5rem;
}

#links {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#about h3 {
  margin-top: 0rem;
}

#about p {
  margin-top: 0rem;
  font-size: 1.25rem;
  line-height: 2.00rem;
}

/*originally 767px */

@media only screen and (max-width: 1062px) and (min-width: 0px) {
  h1 {
    margin-right: 25px;
    margin-bottom: 2.25rem;
    margin-left: 25px;
    font-family: Raleway;
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.25rem;
  }
  h2 {
    margin-right: 25px;
    margin-bottom: 2.25rem;
    margin-left: 25px;
    font-family: Raleway;
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.25rem;
  }
  h3 {
    margin-right: 25px;
    margin-bottom: 2.25rem;
    margin-left: 25px;
    font-family: Raleway;
    font-size: 2.125rem;
    font-weight: 800;
    line-height: 2.25rem;
  }
  h5 {
    margin-top: 2.25rem;
    margin-right: 25px;
    margin-bottom: 0;
    margin-left: 25px;
    font-family: Raleway;
    font-size: 1rem;
    font-weight: 700;
    line-height: 2.25rem;
  }
  p {
    margin-top: 2.25rem;
    margin-right: 25px;
    margin-bottom: 2.25rem;
    margin-left: 25px;
    font-family: Raleway;
    font-size: 1.500rem;
    line-height: 2rem;
  }
  li {
    margin-right: 25px;
    margin-left: 25px;
    font-family: Raleway;
    font-size: 1.500rem;
    line-height: 2rem;
  }
  .row-margin {
    margin-right: 25px;
    margin-left: 25px;
  }
  .pic-margin {
    margin-right: 25px;
    margin-left: 25px;
  }
  .btn-primary,
  .btn-secondary {
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
  }
  .btn-round {
    margin-right: .5rem;
    margin-left: .5rem;
    padding-top: .5rem;
    padding-right: .75rem;
    padding-bottom: .5rem;
    padding-left: .75rem;
    transition: all .2s ease-in-out;
    border: .1rem;
    border-style: solid;
    border-color: #424242;
    border-radius: 50%;
    background-color: transparent;
  }
  .w3-col p {
    margin-top: 2.25rem;
    margin-right: 2rem;
    margin-bottom: 2.25rem;
    margin-left: 2rem;
    color: #93a4aa;
    font-family: Raleway;
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .typed-cursor {
    animation: blink .75s infinite;
    opacity: 1;
    color: #2962FF;
    font-size: 2.5rem;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    25% {
      opacity: .5;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  #title h1 {
    margin-right: .25rem;
    margin-bottom: 1rem;
    margin-left: .25rem;
    text-align: center;
  }
  #interested p,
  #about p {
    font-size: 1rem;
    line-height: 1.50rem;
  }
  #about h3 {
    font-size: 1.75rem;
  }
  #navbar ul {
    overflow: hidden;
    margin: 0;
    margin-top: 0rem;
    padding: 0;
    list-style-type: none;
  }
  #navbar p {
    margin-top: 1.5rem;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
    margin-left: 0rem;
  }
  #navbar ul li {
    float: none;
    margin-right: 1rem;
    margin-left: 1rem;
    font-weight: 700;
  }
  #navbar ul li a {
    display: block;
    text-align: center;
    text-decoration: none;
  }
  .case-block-small {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

/* end of media */
