/* Anil's custom CSS */

/* Basier Circle */
@font-face {
    font-family: 'basier_circleregular';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Basier_Circle_Webfont/Basier-Circle-regular-webfont/basiercircle-regular-webfont.eot');
    src: url('../fonts/Basier_Circle_Webfont/Basier-Circle-regular-webfont/basiercircle-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-regular-webfont/basiercircle-regular-webfont.woff2') format('woff2'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-regular-webfont/basiercircle-regular-webfont.woff') format('woff'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-regular-webfont/basiercircle-regular-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'basier_circlemedium';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Basier_Circle_Webfont/Basier-Circle-medium-webfont/basiercircle-medium-webfont.eot');
    src: url('../fonts/Basier_Circle_Webfont/Basier-Circle-medium-webfont/basiercircle-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-medium-webfont/basiercircle-medium-webfont.woff2') format('woff2'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-medium-webfont/basiercircle-medium-webfont.woff') format('woff'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-medium-webfont/basiercircle-medium-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'basier_circlesemibold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Basier_Circle_Webfont/Basier-Circle-semibold-webfont/basiercircle-semibold-webfont.eot');
    src: url('../fonts/Basier_Circle_Webfont/Basier-Circle-semibold-webfont/basiercircle-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-semibold-webfont/basiercircle-semibold-webfont.woff2') format('woff2'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-semibold-webfont/basiercircle-semibold-webfont.woff') format('woff'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-semibold-webfont/basiercircle-semibold-webfont.ttf') format('truetype');
}
@font-face {
    font-family: 'basier_circlebold';
    font-weight: normal;
    font-style: normal;

    src: url('../fonts/Basier_Circle_Webfont/Basier-Circle-bold-webfont/basiercircle-bold-webfont.eot');
    src: url('../fonts/Basier_Circle_Webfont/Basier-Circle-bold-webfont/basiercircle-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-bold-webfont/basiercircle-bold-webfont.woff2') format('woff2'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-bold-webfont/basiercircle-bold-webfont.woff') format('woff'),
         url('../fonts/Basier_Circle_Webfont/Basier-Circle-bold-webfont/basiercircle-bold-webfont.ttf') format('truetype');
}

html {
  scroll-behavior: smooth;
}

h1, h2, h3, h4, h5 {
  font-family: basier_circlebold;
  font-weight: 400;
  margin: 10px 0;
}

h1 {
  margin-bottom: 5rem;

  letter-spacing: 2px;

  font-size: 4rem;
  line-height: 4rem;
}

h2 {
  margin-bottom: 2.25rem;

  letter-spacing: 1px;

  font-size: 2rem;
  font-style: normal;
  line-height: 2rem;
}

h3 {
  margin-bottom: 1.75rem;

  letter-spacing: 1px;

  font-size: 2rem;
  line-height: 2rem;
}

h4 {
  margin-bottom: 2rem;

  letter-spacing: 2.5px;

  font-size: 1.5rem;
  line-height: 2rem;
}

h5 {
  font-size: 1rem;
  line-height: 2rem;
}

p {
  margin-top: 2rem;
  margin-bottom: 2rem;

  letter-spacing: 1px;

  opacity: 0.87;

  font-family: basier_circleregular;
  font-size: 1rem;
  line-height: 2rem;
}

li {
  letter-spacing: 1px;

  font-family: basier_circleregular;
  font-size: 1rem;
  line-height: 2rem;
}

a {
  text-decoration: underline;
  letter-spacing: 1px;

  font-family: basier_circlebold;
}

a:hover,
a:focus {
  transition: all .1s ease-in-out;
  text-decoration: none;

  color: #2962FF;

}

/* new navbar */
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;

  margin-left: 8rem;
}

.navbar .logo {
  max-width: 120px;
}

.navbar p {
  color: #93a4aa;
  text-align: center;
}

.navbar a {
  text-decoration: none;
}

/* Navbar */
#navbar {
  transition: top 0.5s;
}

.title-container {
  margin: 0 2rem;
}

.desc-container {
  margin: 0 4rem;
}

.project-container {
  width: 80%;
  max-width: 600px;
  margin-right: auto;
  margin-left: auto;
}

.project-img {
  display: block;

  width: 90%;
  max-width: 1000px;
  margin: 25px auto;
}

.portrait {
  max-width: 300px;
  height: auto;
}

.landscape {
  max-width: 500px;
  height: auto;
}

.row-margin {
  margin-right: 10rem;
  margin-left: 10rem;
}

.center {
  text-align: center;
}

.center-object {
  display: block;

  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.v-allign {
  vertical-align: center;
}

.w-100 {
  width: 100%;
  height: auto;
}

.w-75 {
  width: 75%;
  height: auto;
}

.w-50 {
  width: 50%;
  height: auto;
}

.w-25 {
  width: 25%;
  height: auto;
}

.d-flex {
  display: flex;
  flex-wrap: wrap;
}

.case-block {
  padding-top: 9rem;
  padding-bottom: 9rem;
}

.dark {
  color: #F3F5F6;
  background-color: #1A1E23;
}

.mid {
  background-color: #F7F8FC;
}

.accent {
  background-color: #2962FF;
}

.accent h3,
.accent p {
  color: white;
}

.pic-margin {
  margin-right: 10rem;
  margin-left: 10rem;
}

.w3-col h3 {
  margin-bottom: 0rem;
}

.w3-col h5 {
  margin-top: 0rem;
  margin-bottom: 0;
}

.icon-size {
  width: 35px;
  height: 35px;
}

.typed-padding {
  display: inline;

  padding-left: 1rem;
}

.back-button {
  position: fixed;
  z-index: 10;
  top: 48px;
  left: 24px;

  padding: 12px 12px;

  border-radius: 50%;
  background: #fff;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.2);
}

.btn-primary,
.btn-primary:focus {
  max-width: 350px;
  margin: 0 auto;
  padding-top: .5rem;
  padding-right: 1.5rem;
  padding-bottom: .5rem;
  padding-left: 1.5rem;

  transition: all .2s ease-in-out;
  text-decoration: none;
  letter-spacing: 1px;
  text-transform: uppercase;

  color: #1A1E23;
  border: .1rem;
  border-style: solid;
  border-color: #2962FF;
  border-radius: 2rem;
  background-color: transparent;

  font-family: basier_circlebold;
}

.btn-primary:hover {
  padding-right: 2.5rem;
  padding-left: 2.5rem;

  transition: all .2s ease-in-out;
  text-decoration: none;

  color: white;
  border-color: #2962FF;
  background-color: #2962FF;
}

.btn-margin {
  margin-top: 3rem;
}

.social-links {
  margin-right: 1rem;
  margin-left: 1rem;

  text-decoration: none;
}

.animate-fadeIn {
  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2s; /* Firefox < 16 */
  -ms-animation: fadein 2s; /* Internet Explorer */
  -o-animation: fadein 2s; /* Opera < 12.1 */
  animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.typed-cursor {
  animation: blink .75s infinite;

  opacity: 1;
  color: #2962FF;

  font-size: 4.875rem;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  25% {
    opacity: .5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

#title {
  color: #93a4aa;
}

#heading h1 {
  margin-right: 0rem;
  margin-bottom: 1rem;
  margin-left: 0rem;

  text-align: center;
}

#intro p {
  font-size: 1.25rem;
}

#work p {
  color: #000;
}

#about {
  padding-bottom: 4rem;
}

#about h3 {
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  -o-animation-duration: 2s;
}

#about p {
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  -o-animation-duration: 8s;

  font-size: 1rem;
}

video {
  display: block;

  width: 80% !important;
  height: auto !important;
  margin-right: auto;
  margin-left: auto;
}

.case-block-small {
  padding: 3rem 5rem;
}

#logo-creation h2 {
  margin-bottom: 3rem;
}

#personas h2 {
  margin-bottom: 3rem;
}

#storyboards h2 {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#interactive-proto h2 {
  margin-bottom: 3rem;
}

/* remove button's margin to center */
#interested a {
  margin-left: 0px;
}

#interested p {
  margin-top: 0;
  margin-bottom: 1rem;

  font-size: 1.25rem;
  line-height: 1.5rem;
}

/* remove button's margin to center */
#concepts p {
  font-size: 1rem;
}

#links {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#about h3 {
  margin-top: 0rem;
}

#about p {
  margin-top: 0rem;

  line-height: 2.00rem;
}

.project-container-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  /* might not be needed if we already have a body padding */
  padding-left: 4rem;
  padding-right: 4rem;
}

/* mobile css */
@media only screen and (max-width: 768px) and (min-width: 0px) {
  h1 {
    margin-bottom: 2.25rem;

    letter-spacing: 1px;

    font-size: 2.5rem;
    line-height: 2.25rem;
  }
  h2 {
    margin-bottom: 2rem;

    letter-spacing: 1px;

    font-size: 2rem;
    font-style: normal;
    line-height: 2.25rem;
  }
  h3 {
    margin-bottom: 2.25rem;

    letter-spacing: 1px;

    font-size: 1.75rem;
    line-height: 2.25rem;
  }
  h4 {
    margin-bottom: 2rem;

    letter-spacing: 2.5px;

    font-size: 1.5rem;
    line-height: 2.25rem;
  }
  h5 {
    margin-top: 2.25rem;
    margin-bottom: 0;

    font-size: 1rem;
    line-height: 2.25rem;
  }
  p {
    margin-top: 2.25rem;
    margin-bottom: 2.25rem;

    letter-spacing: 1px;

    font-size: 1rem;
    line-height: 2rem;
  }
  li {
    letter-spacing: 1px;

    font-size: 1rem;
    line-height: 2rem;
  }
  .title-container {
    margin: 0 1rem;
  }

  .desc-container {
    margin: 0 2rem;

    text-align: center;
  }
  .row-margin {
    margin-right: 25px;
    margin-left: 25px;
  }
  .pic-margin {
    margin-right: 25px;
    margin-left: 25px;
  }
  .btn-primary {
    display: flex;
    justify-content: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    max-width: 200px;
  }
  .typed-cursor {
    animation: blink .75s infinite;

    opacity: 1;
    color: #2962FF;

    font-size: 2.5rem;
  }
  @keyframes blink {
    0% {
      opacity: 1;
    }
    25% {
      opacity: .5;
    }
    50% {
      opacity: 0;
    }
    75% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }
  #title h1 {
    margin-right: .25rem;
    margin-bottom: 1rem;
    margin-left: .25rem;

    text-align: center;
  }
  #interested p,
  #about p {
    font-size: 1rem;
    line-height: 1.50rem;
  }
  #about h3 {
    font-size: 1.75rem;
  }
  .case-block-small {
    padding: 1rem 0px;
  }
  .project-container-flex {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    padding-left: 2rem;
    padding-right: 2rem;

    text-align: center;
  }
  /* new navbar */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;

    margin-left: 0px;
    margin-bottom: 1rem;
  }
  .navbar .logo {
    max-width: 120px;
  }
  .navbar p {
    color: #93a4aa;
    text-align: center;
  }
  .navbar a {
    text-decoration: none;
  }
}

/* end of media */
