/* Used by the header */

.caption {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
}

/* Used for the name in the heading */

.name-heading {
  font-size: 64px;
  color: white;
  font-family: Raleway;
  font-weight: bold;
  padding-left: 30px;
}
/* Used for the description in the heading */

.description-heading {
  font-size: 18px;
  color: white;
  font-family: Raleway;
  font-weight: lighter;
  padding-left: 30px;
}
/* make font smaller for details */

.description-heading i {
  font-size: 12px;
}

/* Used for secondary title */

.sub-heading {
  font-family: Raleway;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 20px;
}
/* Used for thirtiary title */

.sub-sub-heading {
  font-family: Raleway;
  font-size: 20px;
  font-weight: lighter;
}
/* Make the height of all the cards equal */

.d-flex {
  display: flex;
}
